body {
  color: #3C3A42;
  font-size: 2vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #FFFEFC;
  margin: 0 5vw;
}

input {
  color: #3C3A42;
  font-size: 1.5vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0.25vw;
  margin: 0 0.4vw;
}

.button {
  color: #FFFEFC;
  background-color: #8A5D6A;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.25vw 1.5vw;
}

h1 {
  text-align: center;
  color: #F88640;
  background-color: #FFF4CB;
  font-size: 5vw;
  border-radius: 25px;
}

h2  {
  text-align: left;
  color: #8A5D6A;
  font-size: 4vw;
} 

h3  {
  text-align: left;
  color: #8A5D6A;
  font-size: 2vw;
  margin: 0 0 1vw 0;
}

h4  {
  text-align: left;
  color: #F88640;
  font-size: 2vw;
  margin: 0 0 1vw 0;
}

.todo_elements {
  color: #3C3A42
}

.todo_elements :hover {
  color: #8A5D6A
}

.main_column {
  float: left;
  width: 60%;
}

.sub_column {
  float: left;
  width: 40%;
}

.sub_column_fill {
  border: 1vw solid #8A5D6A;
  border-radius: 25px;
  padding: 1vw 0 1vw 1vw;
}

ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 2vw;
}

li:nth-child(1) > .up-button {
  visibility: hidden;
}

li:nth-last-child(1) > .down-button {
  visibility: hidden;
}

li:nth-child(odd) {
  background-color: #FFF4CB;
}

li:nth-child(even) {
  background-color: #FFFEFC;
}

.list-button {
  float: right;
  margin: auto 0 auto 1vw;
}